<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1></h1>

Hello User, there is your info
<br> <br>
<form th:object="${aloneUser}">
Your Name: <h2 th:text="${aloneUser.name}"></h2>
<br><br>
Your Age: <h2 th:text="${aloneUser.age}"></h2>
<br><br>
Department: <h2 th:text="${aloneUser.department}"></h2>
<br><br>
Your Username: <h2 th:text="${aloneUser.username}"></h2>
<br><br>
Your roles: <h2 th:text="${aloneUser.roles}"></h2>
<br><br>
Your salary<h2 th:text="${aloneUser.salary}"></h2>
<br><br>
</form>
<br><br>
<input type="button" value="Logout" onclick="window.location.href='logout'">
<input type="button" value="Ref for admin" onclick="window.location.href= '/admin'">
</body>
</html>